@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    min-height: 100vh;
}

@media (min-width:300px) {

 .lower-body button{
    color: hsl(25, 71%, 61%);
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    border: 2px solid hsl(25, 71%, 61%);
    font-size: 18px;
    margin-left: 0.5em;
 }
    .upper-body {
        text-align: left;
        margin: 1rem;
    }

    .man-reading img {
        width: 80%;
        margin-top: 100px;
        margin-left: 80px;
    }

    .upper-body .reading-text h2 {
        font-weight: 700;
        font-size: 27px;
        padding-bottom: 20px;
        color: hsl(242, 28%, 21%);
        width: 300px;
    }

    .upper-body .reading-text span {
        background-color: hsl(180, 50%, 82%);
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .upper-body .reading-text p {
        line-height: 1.5;
        color: hsl(0, 0%, 36%);
        padding-bottom: 30px;
    }

    .upper-body .reading-text button {
        padding: 8px 15px;
        border: 2px solid hsl(202, 52%, 36%);
        background-color: #fff;
        border-radius: 5px;
        color: hsl(202, 52%, 36%);
        font-size: 18px;
        margin-bottom: 100px;
    }

    .upper-body .reading-text .explore {
        display: none;
    }

    .middle-body {
        text-align: center;
        margin: 1rem;
    }

    .middle-body h2 {
        font-weight: 600;
        font-size: 30px;
        color: hsl(242, 28%, 21%);
        margin-bottom: 40px;
    }

    .middle-body .text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
        gap: 10px;
    }

    .middle-body .text .many {
        background: hsl(180, 50%, 90%);
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 30px;
    }

    .middle-body .text .many img {
        /* height: 25.714284896850586px;
        width: 25.05494499206543px;    */
        height: 30px;
        width: 30px;
        margin-top: 20px;
    }

    .middle-body .text h3 {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 20px;
        text-align: left;
    }

    .middle-body .text p {
        line-height: 1.5;
        color: hsla(0, 0%, 36%, 1);
        padding-bottom: 30px;
        text-align: left;
        font-size: 15px;
    }

    .middle-body button {
        font-weight: 700;
        padding: 10px 20px;
        border-color: transparent;
        border-radius: 10px;
        margin: 20px auto;
    }

    .bg-body::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #E3F6F5 0%, rgba(217, 243, 242, 0.4) 13.01%, rgba(186, 232, 232, 0) 26.54%);
        ;
        border-radius: 0 0 50% 50%/0 0 13% 13%;
        z-index: -1;
        /* inset: 0; */
        /* border-radius: 50%;  */
        /* background: linear-gradient(0deg, #E3F6F5 0%, rgba(217, 243, 242, 0.4) 35.01%, rgba(186, 232, 232, 0) 26.54%);  */

    }

    .bg-body {
        position: relative;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .third-body {
        text-align: center;
        margin: 1rem;
    }

    .connect img {
        width: 100%;

    }

    .connect-text h2 {
        font-weight: 700;
        font-size: 23px;
        margin-left: 0.5em;
    }

    .connect-text span {
        color: hsl(25, 71%, 61%);
    }

    .connect-text p {
        color: hsl(0, 0%, 36%);
        line-height: 1.6;
        width: 285px;
    }

    .connect-text button {
        color: hsl(25, 71%, 61%);
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 20px;
        border: 2px solid hsl(25, 71%, 61%);
        font-size: 18px;
        margin-left: 0.5em;
    }

    .lower-body {
        margin: 1rem;
    }

    .latest h3 {
        color: hsl(242, 28%, 21%);
        font-weight: 700;
        font-size: 23px;
        text-align: center;
        margin: 10px auto 20px auto;
    }

    .latest img {
        width: 100%;
        margin-bottom: 10px;
    }

    .books-image {
        display: flex;
        
    }

    .book-name {
        flex-basis: 25%;
        padding: 20px;
        width: 300px;
    }

    .book-name h4 {
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 8px;
    }

    .book-name p {
        color: hsl(0, 0%, 0%);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .lower-body .browse {
        text-align: right;
        margin-top: 50px;
    }

    .browse button {
        padding: 10px 20px;
        font-weight: 700;
        font-size: 15px;
        border-color: transparent;
        border-radius: 10px;
        margin-bottom: 100px;
        margin-left: auto;
    }



}

@media (min-width:650px) {
    .upper-body, .middle-body, .third-body, .lower-body, .footer-body {
        margin: 2.5rem;
    }

    .upper-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .man-reading {
        grid-row: 1;
        grid-column: 2;
    }

    .man-reading img {
        width: 100%;
        margin-top: -40px;
        margin-left: auto;
    }

    .third-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 200px;
        text-align: center;
        align-items: center;
    }

    .lower-body .browse {
        text-align: center;
    }
}

@media (min-width:900px) {
    .upper-body .reading-text {
        width: 500px;
    }

    .upper-body .reading-text h2 {
        font-size: 40px;
        letter-spacing: 2px;
        width: 95%;
    }

    .upper-body .reading-text p {
        left: 1.6;
        letter-spacing: 1px;
    }

    .upper-body .reading-text .explore {
        display: inherit;
        background-color: hsl(202, 52%, 36%);
        color: #fff;

    }

    .upper-body .reading-text .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 50px;

    }

    .middle-body .text .many img {
        margin-left: 20px;
    }

    .middle-body .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 80px;

        margin: 0 auto;
    }

    .bg-body::before {

        top: 80px;
        /* inset: 0;  */
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(227, 246, 245) 0%, rgba(217, 243, 242, 0.4) 35.01%, rgba(186, 232, 232, 0) 56.54%);

    }

    .third-body {
        text-align: left;
        gap: 80px;


    }

    .third-body .connect-text h2 {
        margin-bottom: 30px;
    }

    .third-body p {
        width: 400px;
        margin-bottom: 50px;
    }

    .connect-text button {
        float: left;
    }

    .lower-body .latest img {
        width: 100%;
        object-fit: inherit;
        height: 440px;
    }

    .lower-body .latest h3 {
        color: hsl(0, 0%, 0%);
        font-weight: 700;
        font-size: 30px;
        text-align: center;

    }

    .lower-body .latest .books-image {
        display: flex;
        flex-direction: row;

    }

    .book-name h4 {
        font-size: 1.5rem;
    }

    .lower-body .latest a {
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }


}

@media(min-width:1300px) {
    .upper-body, .middle-body, .third-body, .lower-body {
        width: 80%;
        margin: 0 auto;

    }

    .upper-body {
        margin-top: 100px;
    }

}

